.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 400;
}

.description {
  font-size: 14px;
  color: rgba(105, 105, 105, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 22px;
}

.add-user-form {
  position: relative;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: none; /* Remove the default border */
  border-top: 1px solid #ccc; /* Add a new top border with a color of your choice */
  margin: 10px 0; /* Add margin to create space around the hr element */
}

.role-options {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #696969;

    input {
      outline: none;
      flex: 1;
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }
}

label {
  font-size: 12px;
  font-weight: 700;
  color: #101213;
}

.label-email {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
}

h2 {
  font-size: 22px;
}
