.app-layout {
  display: flex;
  height: 100vh;
  position: fixed;
}

.content {
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  height: 100%;
  max-width: 440px;
  min-width: 360px;
  z-index: 1;
  overflow-y: scroll;
}
