/* Bank list styles */
.bank-list-container {
  padding: 30px;
  padding-left: 0;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 15px;
}

hr {
  color: #ebebeb;
}
.bank-item {
  padding: 30px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;

  .bank-name {
    font-weight: bold;
  }

  .bank-iban {
    color: #696969;
  }
}
.shared-info {
  margin-left: auto;
  color: #696969;
}

.saveButton {
  background-color: #2760d5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  color: white;
  cursor: pointer;
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 50px;
  padding: 15px;
}

/* Hover effect for bank items */
.bank-item:hover {
  background-color: #f0f0f0;
}

.green-highlight {
  background-color: #daefea;
}

.bank-logo {
  width: 50px; // or any appropriate size you want
  height: 50px; // or any appropriate size you want
  background-size: contain;
  background-repeat: no-repeat;
}
