.form-container {
  form {
    input {
      width: 100%;
      padding: 10px;
      border: solid 1px #d5d4dc;
      border-radius: 8px;
      margin-top: 10px;
      font-weight: 400;
      color: #8b849b;
    }
  }
}

input {
  width: 100%;
  padding: 10px;
  border: solid 1px #d5d4dc;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 400;
  color: #8b849b;

  &:hover {
    background-color: #f5f8ff;
  }

  &:active {
    border-color: #8bb4ff;
    background-color: white;
  }

  &:focus {
    border-color: #0f62fe;
  }
}

input:focus {
  border-color: #0f62fe !important;
}

/* Styles for filled input */
input[type="text"][value],
input[type="email"][value] {
  color: #10002e;
}

/* Styles for success state */
input[type="text"].success,
input[type="email"].success {
  color: #10002e;
  border-color: #2bac47;
  background-color: #f1f8f2;
}

/* Styles for error state */
input[type="text"].error,
input[type="email"].error {
  color: #10002e;
  border-color: #c83532;
  background-color: #fbefef;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: inherit;
  font-weight: 700;
}
