.form-container {
    form {
        input {
            width: 100%;
            padding: 10px;
            border: solid 1px #D5D4DC;
            border-radius: 8px;
            margin-top: 10px;
            font-weight: 400;
            color: #8B849B;
        }
    }
}

input {
  width: 100%;
  padding: 10px;
  border: solid 1px #D5D4DC;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 400;
  color: #8B849B;

  &:hover {
    background-color: #F5F8FF;
  }

  &:active {
    border-color: #8BB4FF;
    background-color: white;
  }

  &:focus {
    border-color: #0F62FE;
  }
}

input:focus {
    border-color: #0F62FE !important;
}

/* Styles for filled input */
input[type="text"][value],
input[type="email"][value] {
  color: #10002E;
}

/* Styles for success state */
input[type="text"].success,
input[type="email"].success {
  color: #10002E;
  border-color: #2BAC47;
  background-color: #F1F8F2;
}

/* Styles for error state */
input[type="text"].error,
input[type="email"].error {
  color: #10002E;
  border-color: #C83532;
  background-color: #FBEFEF;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 14px;
    color: inherit;
    font-weight: 700;
}