ul {
  list-style-type: none;
  padding: 0;
}

.profile {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1;
}

.user-info {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  text-decoration: none !important;
  overflow: hidden;
}

.user-info p {
  margin: 10px;
  color: rgba(16, 18, 19, 1);
  text-decoration: none !important;
}

.profile-email {
  font-size: 14px;
  font-weight: 300;
  color: rgba(106, 113, 120, 1);
}

.user-list-item.logged-in {
  background-color: gray;
}

.user-link .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.user-link {
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.active-user {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.profile-icon {
  margin-left: -15px;
}

.side-panel {
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  min-width: 30%;
  max-width: 400px;
  z-index: 1;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logged-in {
  text-decoration: none;
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.loading-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.loading-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.loading-container-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 50px;
}

.dropdown-container {
  position: relative;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.user-list {
  align-items: flex-start;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: opacity-change;
  animation-name: opacity-change;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  display: inline-flex;
  gap: 10px;
  justify-content: space-between;
  margin: 5px 0;
  padding: 12px;
  transition:
    background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
  width: 100%;
}

.profile-email,
.user-info > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.hidden-label,
.inactive-label {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  padding: 4px 10px;
  border-radius: 9.999px;
  margin-right: 10px;
  white-space: nowrap;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
}

.side-panel {
  flex: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-fade-in {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards;
}

.no-users {
  text-align: center;
}

.load-more-button {
  text-align: center;
  width: 100%;
}
