.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    color: inherit;
    font-weight: 700;

    p {
      font-weight: 400;
    }
  }

  textarea,
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: solid 1px #d5d4dc;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 400;
    color: #8b849b;

    &:hover {
      background-color: #f5f8ff;
    }

    &:active {
      border-color: #8bb4ff;
      background-color: white;
    }

    &:focus {
      border-color: #0f62fe;
    }
  }

  input[type="text"][value],
  input[type="email"][value] {
    color: #10002e;
  }

  input[type="text"].success,
  input[type="email"].success {
    color: #10002e;
    border-color: #2bac47;
    background-color: #f1f8f2;
  }

  input[type="text"].error,
  input[type="email"].error {
    color: #10002e;
    border-color: #c83532;
    background-color: #fbefef;
  }
}

.form-group-roles {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    font-weight: 400;
    color: #101213;
  }
}

.description {
  font-size: 14px;
  color: rgba(105, 105, 105, 1);
  margin-top: 20px;
}

.add-user-form {
  position: relative;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: none;
  border-top: solid 1px #d5d4dc;
  margin: 10px 0;
}

.role-options {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  label {
    color: #10002e;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    word-wrap: break-word;

    input[type="radio"],
    input[type="checkbox"] {
      width: 24px !important;
      height: 24px !important;
      margin-top: 5px !important;
      margin-right: 10px;
    }
  }
}

.label-email {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
}

h2 {
  font-size: 22px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

textarea {
  min-height: 150px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: solid 1px #d5d4dc;
  border-radius: 8px;
  font-weight: 400;
}

.chart-count-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 4px;
}
.char-count {
  color: #666;
  font-size: 12px;
}

.char-count-error {
  color: red;
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 12px;
}
