.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.continue-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
font-weight: 400;
}

.cancel-button {
  background-color: #F4F4F4;
  color: #101213;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
font-weight: 400;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.continue-button,
.cancel-button {
  margin-left: 10px;
}
