.form-container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;

    hr {
        background-color: grey;
        display: block;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 56px;
        margin: 0;
    }
}