.profile-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.user-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-container {
  width: calc(33.33% - 16px);
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.saveButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fundusers-fade-in {
  animation: fadeIn 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards;
}

.loading-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .user-list-container {
    display: block;
  }

  .user-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.users-container {
  overflow: scroll;
  max-height: 300px;
}
