.details-container {
  padding: 20px 30px;
  overflow-wrap: break-word;
  min-height: 300px;
  max-height: 400px;
  padding-bottom: 200px;
  display: block;
  overflow: scroll;

  .details-wrapper {
    height: 100%;
    display: block;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .details-container {
    padding: 10px;
    overflow-wrap: break-word;
    margin-bottom: 50px;
  }
}
