.details-container {
  padding: 30px;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .details-container {
    padding: 10px;
    overflow-wrap: break-word;
    margin-bottom: 50px;
  }
}
