.details-container {
  display: flex;
  justify-content: space-between;

  .details-item {
    font-size: 16px;
    label {
      font-weight: normal;
      color: #4f575e;
      font-size: 14px;
    }

    p {
      color: #2f2f2f;
    }
  }
}

.details-bold {
  font-weight: bold;
}

.funder-details-container {
  display: flex;
  gap: 20px;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}

.loading-container {
  display: flex;
  align-items: center;
  height: 30vh;
  justify-content: center;
  align-content: center;
}
