.image-uploader-container {
    display: inline-flex;
    flex-direction: column;
    height: 135px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: dotted 1px #c5c5c5;
    margin-top: 10px;

    p {
        font-size: 12px;
    }

    h4 {
        margin: 0;
        margin-top: 10px;
        color: #282828;
font-size: 14px;
    }
}
