.initiative-list {
  padding: 0;
  margin: 0;
  list-style-type: disc !important;
}

.initiative-list li {
  border: none;
  padding: 0;
  list-style: disc;
  color: #2760d5;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
