.login-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-box {
  width: 400px;
  margin: 0 auto;
  z-index: 999;
  top: 50%;
  margin-top: -225px;
  left: 0;
  position: absolute;
  background-color: #fff;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1);
  right: 0;
  display: inline-block;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo img {
  max-width: 80px;
  margin-bottom: 20px;
}

.project-title {
  margin-bottom: 40px;
}

.project-title img {
  height: 40px;
}

.login-box {
  .input-container {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    input {
      margin-top: 0 !important;
      border: 0 !important;
      font-size: 14px;
    }
  }
}

.icon {
  margin-right: 10px;
  color: #999;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.login-button {
  background: linear-gradient(to bottom, #00a8ff, #007bff);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background: linear-gradient(to right, #00a8ff, #007bff);
}

.error-message {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loading-spinner {
  border: 4px solid rgba(38, 96, 213, 0.3);
  border-top: 4px solid #2760d5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toggle-password {
  display: flex;
  cursor: pointer;
  height: 20px;
  right: 20px;
  margin-right: 10px;
}

.input-container {
  position: relative;
}

.forgot-password-link {
  color: #265ed4;
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .login-modal-backdrop {
    z-index: 0;
  }

  .login-box {
    margin: 0 auto;
    z-index: 1;
    left: 0;
    position: absolute;
    background-color: #fff;
    padding: 60px;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1);
    right: 0;
    display: inline-block;
    height: 100vh;
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    top: auto;

    form {
      width: 100%;
    }

    .input-container {
      box-shadow: none;
      border: solid 1px #d5d4dc;
      border-radius: 8px;
      padding: 5px 10px;
    }

    .login-button {
      background: #2760d5;
      border-radius: 8px;
      width: 100%;
    }
  }
}
