.regulation-detail-container {
  display: flex;
  flex-direction: column;
  padding: 75px;
  width: 100%;
  position: relative;
  max-width: 1200px;

  h1 {
    font-weight: 600;
    font-size: 20px;
    color: #2760d5;
  }

  p {
    font-size: 16px;
  }

  .regulation-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      border: none;
      gap: 15px;
      align-items: center;
      font-size: 14px;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: #2760d5;
      }
    }
  }
}

.regulation-detail-content {
  display: block;
  width: 100%;
  padding: 75px;
  position: relative;
}

.officer-list,
.grant-list {
  list-style-type: none;
  padding: 0;

  li {
    color: #2760d5;
    padding-left: 0;
  }
}

.officer-item,
.grant-item {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.section-title {
  color: #585858;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.001px;
  text-transform: uppercase;
}

.section-content {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01%;
  color: #696969;
  margin-top: 8px;
}

.officer-description {
  margin-top: 80px;
}

.officer-details,
.grant-details {
  margin-top: 30px;
}

.grant-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;

  button {
    background: transparent;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    cursor: pointer;
  }
}

.grant-list {
  .edit-button {
    background: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  :hover {
    color: #2760d5;
  }
}
