.side-panel {
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  min-width: 30%;
  max-width: 400px;
  z-index: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.sponsor-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sponsor-list-item {
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border: 1px solid #dee2e6;
  transition: background-color 0.3s ease;
  align-items: center;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: _opacity-change_vz7di_1;
  animation-name: _opacity-change_vz7di_1;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-content: center;
  margin: 5px 0;
  padding: 12px;
  transition:
    background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
  width: 100%;
}

.sponsor-info {
  padding: 20px;
  width: 100%;
}

.sponsor-link {
  text-decoration: none;
  color: rgb(16, 18, 19);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  display: block;
}

.sponsor-website {
  margin: 0px;
  margin-top: 10px;
  color: #6a7178;
  font-size: 14px;
}

.active-sponsor {
  background-color: rgba(0, 0, 0, 0.08);
}

.sponsor-list-item:hover {
  background-color: #f0f0f0;
}
