.transaction-container {
  background-color: #fff;
  width: 100%;
  z-index: 1;
  height: fit-content;
  padding: 50px 75px;
  position: relative;
  min-height: 100vh;
}

.transaction-headers {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .transaction-container {
    padding: 20px;
    min-height: unset;
    padding-top: 5px;
  }

  .transaction-headers {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}
