.user-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  position: relative;
}

.user-details-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    linear-gradient(
      90deg,
      #def8ff 0%,
      #ffc2ea 54.69%,
      rgba(55, 210, 182, 0.15) 100%
    );
  background-attachment: fixed;
  z-index: -1;
  transform: scale(1, 1);
}

.user-details {
  display: block;
  width: 100%;
  padding: 75px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-container {
  display: flex;
  flex-direction: row;

  p {
    margin: 5px auto;
  }
}

.user-info {
  gap: 20px;
}

.user-image {
  width: 92px;
  height: 92px;
  overflow: hidden;
  border-radius: 50%;
}

.circular {
  object-fit: cover;
}

.user-name {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
}

.user-email {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
}

.user-role-label {
  display: flex;
  align-items: center;
}

.user-role {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(245, 245, 245, 1);
  padding: 4px 10px;
  border-radius: 9.999px;
  margin-right: 10px;
  white-space: nowrap;
}

.section-title {
  color: #585858;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.001px;
  text-transform: uppercase;
}

.section-content {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01%;
  color: #696969;
  margin-top: 8px;
}

.user-description {
  margin-top: 80px;
}
.user-initiatives,
.user-activities {
  margin-top: 30px;
}

.loading-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.top-right-button-container {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.top-right-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.top-right-button .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 5px;
}
