:global {
  body {
    margin: 0 auto;
    font-family: Inter, system-ui;

    p {
      color: #606060;
    }
  }

  input {
    font-size: 14px !important;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    scrollbar-color: #265ed4 transparent;
    scrollbar-width: thin;
  }

  ul {
    margin-top: -20px;
    padding: 20px;
  }

  .confirmation-container {
    height: inherit;
  }
}
