.tab-container {
  display: flex;
  gap: 1rem;
  border-bottom: solid 1px #ebebeb;
  max-width: calc(100% - 20px);
}

.tab-fund-container {
  margin: 10px 0px;
  display: flex;
  gap: 1rem;
  border-bottom: solid 1px #ebebeb;
  border-top: solid 1px #ebebeb;
  max-width: calc(100% - 20px);
  overflow: scroll;

  button {
    padding: 1rem;
  }
}

button {
  padding: 1.2rem 1rem;
  border: transparent;
  cursor: pointer;
  background: none;
  color: #676c70;
  font-size: 16px;
  min-width: fit-content;
}

.active {
  color: #265ed4;
  border-bottom: solid 4px;
}

@media (max-width: 768px) {
  .tab-fund-container {
    max-width: calc(100%);
    overflow-x: auto;
  }

  .tab-container {
    display: flex;
    max-width: calc(100%);
    gap: 0px;
    border-bottom: solid 1px #ebebeb;

    button {
      min-width: 50%;
    }
  }
}
