/* UserDetailsPage.css */

.user-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  position: relative; /* Add this to position the ::before pseudo-element relative to the container */
}

/* Gradient background */
.user-details-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px; /* Set the maximum height for the gradient */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    linear-gradient(
      90deg,
      #def8ff 0%,
      #ffc2ea 54.69%,
      rgba(55, 210, 182, 0.15) 100%
    );
  background-attachment: fixed;
  z-index: -1; /* Place it behind the content */
  transform: scale(1, 1);
}

.user-details {
  display: block;
  width: 100%;
  padding: 75px;
}

/* User profile section */
.user-profile {
  display: flex;
  align-items: center;
}

/* User image */
.user-image {
  width: 92px;
  height: 92px;
  overflow: hidden;
  border-radius: 50%;
}

.circular {
  object-fit: cover;
}

/* User name */
.user-name {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
}

/* User email */
.user-email {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
}

/* User role label */
.user-role-label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* User role */
.user-role {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01%;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(245, 245, 245, 1);
  padding: 4px 10px;
  border-radius: 9.999px;
  margin-right: 10px;
  white-space: nowrap;
}

/* Section title */
.section-title {
  color: #585858;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.001px;
  text-transform: uppercase;
}

/* Section content */
.section-content {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01%;
  color: #696969;
  margin-top: 8px;
}

/* Initiatives and Activities sections (reuse title styles) */
.user-description {
  margin-top: 80px;
}
.user-initiatives,
.user-activities {
  margin-top: 30px;
}
