.fund-detail-container {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  background: #ffffff;
  overflow-x: hidden;
}

.top-right-button-container {
  display: flex;
  align-items: center;

  button {
    align-items: center;
    display: flex;
    padding: 10px 20px 10px 10px;
    gap: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.content-container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;

  .fund-info {
    flex: 1;
    width: 50%;
    padding-right: 30px;

    h1 {
      font-weight: 500;
    }
  }

  .fund-image {
    width: 50%;
    padding-left: 30px;
    margin-top: 30px;
    align-items: start;
    display: flex;
    justify-content: right;

    .fund-image {
      width: 50%;
      overflow: hidden;
    }

    img {
      max-height: 250px;
      max-width: 100%;
    }
  }
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 0px;

  .fund-budget,
  .fund-income,
  .fund-expenses,
  .fund-available-budget {
    padding: 10px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;

    span {
      display: block;
      margin-top: 5px;
      font-weight: 700;
      color: #343232;
      margin-top: 5px;
    }
  }
}

.read-more-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.saveButton {
  background-color: #2760d5;
  border: none;
  border-radius: 5px;
  padding: 15px;
  flex: 1;
  color: white;
  cursor: pointer;
  width: fit-content;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  margin-top: 20px;
}
