.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.backdrop.open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: auto;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
  text-align: left;
}

.formGroup {
  margin: 20px;
}

.form-group-roles {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    font-weight: 400;
    color: #101213;
  }
}

.description {
  font-size: 14px;
  color: rgba(105, 105, 105, 1);
  margin-top: 20px;
}

.add-user-form {
  position: relative;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: none;
  border-top: solid 1px #d5d4dc;
  margin: 10px 0;
}

.role-options {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  label {
    color: #10002e;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    word-wrap: break-word;

    input[type="radio"],
    input[type="checkbox"] {
      width: 24px !important;
      height: 24px !important;
      margin-top: 5px !important;
      margin-right: 10px;
    }
  }
}

.label-email {
  font-size: 14px;
  color: inherit;
}

h2 {
  font-size: 22px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

textarea {
  min-height: 75px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: solid 1px #d5d4dc;
  border-radius: 8px;
  font-weight: 400;
}

.chart-count-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 4px;
}
.char-count {
  color: #666;
  font-size: 12px;
}

.char-count-error {
  color: red;
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.labelEmail {
  font-weight: bold;
  font-size: 14px;
}

.description {
  font-size: 14px;
  color: rgba(105, 105, 105, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 22px;
}

.buttonContainer {
  display: flex;
  margin: 20px;
  margin-top: auto;
  gap: 10px;
  align-self: end;
}

.cancelButton {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 15px;
  flex: 1;
  cursor: pointer;
}

.saveButton {
  background-color: #2760d5;
  border: none;
  border-radius: 5px;
  padding: 15px;
  flex: 1;
  color: white;
  cursor: pointer;
}

.deleteButton {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 15px;
  flex: 1;
  color: white;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: unset;
  right: -100%;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 10000;

  &.open {
    right: 0;
  }
}

.roleOptions {
  display: flex;
  flex-direction: column;

  input {
    flex: unset;
  }
}

.imagePreview {
  position: relative;
}

.imageContainer {
  position: relative;
  display: inline-block;

  .imagePreview {
    box-shadow: #c5c5c5 0px 1px 4px 0px;
  }
}

.closeButton {
  position: absolute;
  top: -15px;
  right: -15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.closeButton img {
  width: 25px;
  height: 25px;
}

.customFileInput {
  margin-top: 10px;
  padding: 25px 30px;
  color: black;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: dotted 1px #c5c5c5;
  border-radius: 5px;
}

.hiddenFileInput {
  display: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.formList {
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;

  .formListItem {
    padding: 0;
    color: #696969;
    cursor: pointer;
  }
}

input {
  width: 100%;
  padding: 10px;
  border: solid 1px #d5d4dc;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 400;
  color: #8b849b;
  flex: unset;

  &:hover {
    background-color: #f5f8ff;
  }

  &:active {
    border-color: #8bb4ff;
    background-color: white;
  }

  &:focus {
    border-color: #0f62fe;
  }
}

input:focus {
  border-color: #0f62fe !important;
}

input[type="text"][value],
input[type="email"][value] {
  color: #10002e;
}

input[type="text"].success,
input[type="email"].success {
  color: #10002e;
  border-color: #2bac47;
  background-color: #f1f8f2;
}

input[type="text"].error,
input[type="email"].error {
  color: #10002e;
  border-color: #c83532;
  background-color: #fbefef;
}

.form-group {
  margin-top: 20px;
}

label {
  font-size: 14px;
  color: inherit;
  font-weight: 700;
}

.eye-icon {
  width: 20px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

body {
  p {
    font-size: 14px;
    margin-top: 10px;
  }
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.eye-icon {
  width: 20px;
  height: auto;
}

.roleOptions {
  font-family: inherit;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;

  label {
    color: #10002e;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    gap: 5px;

    input[type="radio"],
    input[type="checkbox"] {
      width: 24px !important;
      height: 24px !important;
      margin: 0px;
    }
  }
}

.accordionHeader {
  color: #282828;
  font-weight: bold;
  padding: 1rem 0px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.accordionIcon {
  color: #2760d5;
}

.accordionContent {
  display: flex;
  justify-content: center;
  flex: 20px;
  justify-content: space-between;
  padding: 20px 0px;
  margin-top: -10px;
  gap: 20px;
}

.accordionContentItem {
  flex: 0 0 calc(50% - 10px);

  label {
    font-size: 14px;
  }
}

.accordionCheck {
  label {
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
  }

  input {
    display: flex;
    width: 24px !important;
    height: 24px !important;
    align-items: center;
    margin-top: 5px;
  }
}

.chart-count {
  font-size: 12px;
}

.containerPreview {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin: 15px 0px;

  .imagePreview {
    flex-basis: calc(25% - 10px);
    margin: 5px;
    background: #e9eef1;
    border-radius: 8px;
    display: flex;

    img {
      width: 100%;
    }
  }
}

.imageContainer {
  display: block;
  flex-basis: 100%;
  min-height: 100px;
}

.pdfPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pdfContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
