.breadcrumbList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.breadcrumbItem a {
  margin-right: 5px;
  text-decoration: none;
  color: #686868;
}

.breadcrumbItem:last-child a {
  color: #265ed4;
}

.breadcrumbItem:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/assets/images/icons/icon-right-arrow.svg");
  background-size: cover;
  margin: 0 5px;
}

.breadcrumbItem:first-child::after {
  display: none;
}

@media (max-width: 768px) {
  .breadcrumbItem {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    font-size: 14px;
  }

  .breadcrumbItem a {
    margin-right: 0px;
  }

  .breadcrumbItem:not(:last-child)::after {
    width: 18px;
    height: 18px;
    margin: 0 3px;
  }
}
