
    
    .breadcrumbList {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;

      }
      
      .breadcrumbItem a {
        margin-right: 5px;
        color: white !important;
      }
      
      .breadcrumbItem.active a{
        font-weight: bold;
        color: red !important;
      }

  