.bank-item {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: left;
  width: 100%;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

.bank-item-content {
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    color: #000000;
    font-weight: 500;
  }
}

.bank-item:hover {
  background-color: #f0f0f0;
}

.bank-item img {
  width: 50px;
  margin-right: 10px;
}

.bank-name {
  font-size: 16px;
}

.saveButton {
  background-color: #2760d5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  color: white;
  cursor: pointer;
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 50px;
  padding: 15px;
}

.button-container {
  position: absolute;
  align-content: right;
  background: white;
  width: 100%;
  bottom: 0;
  right: 0px;
  display: flex;
  align-content: center;
  justify-content: right;
  align-items: center;
  padding: 20px;

  .saveButton {
    background-color: #2760d5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    flex: unset;
    color: white;
    cursor: pointer;
    display: block;
    padding: 15px;
    margin-top: auto;
  }
  .deleteButton {
    background-color: #dc3545;
    border-radius: 5px;
    padding: 10px;
    flex: unset;
    color: white;
    cursor: pointer;
    display: block;
    padding: 15px;
    margin-top: auto;
  }
}

.confirmation-container {
  display: block;
  height: 100%;
  position: relative;

  .succes-icon {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 20px;
  }
}

.step-container::before {
  content: "";
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(164, 188, 239, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

.bankinfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 30px;

  .logo {
    height: 60px;
    width: 60px;
  }

  .connector {
    height: 30px;
  }
}

.bank-list {
  padding: 0;
  padding-top: 20px;
}
